react-cricular-progressbar
socket.io-client
react-webcam
@emotion/css
@mediapipe/camerautils
@mediapipe/hands
@mediapipe/drawing_utils


# for including voice sections, 
grpc
@grpc/porot-loader
dotenv
typescript
ts-node
express
socket.io
node-record-lpcm16
sleep
# all install via npm